<app-admin-nav *ngIf="authService.userData | async"></app-admin-nav>
<div class="container-fluid --flex animate__animated animate__fadeIn" *ngIf="authService.userData | async">
    <div class="container pt-5 pb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
              <li class="breadcrumb-item active --cap" aria-current="page">{{title}}</li>
            </ol>
          </nav>
        <div>
            <h3>Reservaciones</h3>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <ul id="reservacionesTabs">
                    <li (click)="toggleFilter('1')" [class]="pendientes? 'active' : '' "><i class="ri-time-line --mr"></i> Pendientes</li>
                    <li (click)="toggleFilter('2')" [class]="completadas? 'active' : '' "><i class="ri-checkbox-circle-line --mr"></i> Completadas</li>
                    <li (click)="toggleFilter('0')" [class]="canceladas? 'active' : '' "><i class="ri-close-circle-line --mr"></i> Canceladas</li>
                </ul>
            </div>
        </div>
        <div>
            <ul id="reservationList">
                <li *ngFor="let r of reservations" class="mt-3 --bg-grey border" id="tab{{r.key}}">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="p-3">
                                <label for="">Codigo:</label>
                                <h4>{{r.code}}</h4>
                                <label for="">Reservante</label>
                                <h4 class=" --upper">{{r.fullname}}</h4>
                                <p class="mb-0"><i class="ri-phone-fill --primary"></i> {{r.phone}}</p>
                                <p class="mb-0"><i class="ri-mail-line --primary"></i> {{r.email}}</p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="p-3">
                                <label for="">Ocupantes</label>
                                <p class="mb-0"><i class="ri-user-3-fill --primary --mr"></i>{{r.passengers}} Pasajeros</p>
                                <p class="mb-0"><i class="ri-luggage-cart-line --primary --mr"></i>{{r.lgluggage}} Maletas Gde.</p>
                                <p class="mb-0"><i class="ri-shopping-bag-fill --primary --mr"></i>{{r.smluggage}} Maletas Peq.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <label for="">Recogida:</label>
                                        <p class="mb-3"><i class="ri-map-pin-line --primary --mr"></i>{{r.from}}</p>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <label for="">Dia y Hora:</label>
                                        <p class="mb-0" for=""><i class="ri-calendar-check-fill --primary --mr"></i>{{r.date}}</p>
                                        <p class="mb-0"><i class="ri-time-line --primary --mr"></i>{{r.time}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label for="">Destino:</label>
                                        <p class="mb-0"><i class="ri-map-pin-line --primary --mr"></i>{{r.destination}}</p>
                                    </div>
                                </div>
                                <hr *ngIf="r.destinationTwo != '' ">
                                <div class="row" *ngIf="r.destinationTwo != '' ">
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <label for="">Destino 2:</label>
                                        <p class="mb-0"><i class="ri-map-pin-line --primary --mr"></i>{{r.destinationTwo}}</p>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <label for="">Dia y Hora:</label>
                                        <p class="mb-0" for=""><i class="ri-calendar-check-fill --primary --mr"></i>{{r.dateTwo}}</p>
                                        <p class="mb-0"><i class="ri-time-line --primary --mr"></i>{{r.timeTwo}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Monto:</label>
                                        <p class="mb-0"><strong>USD${{r.cost}}</strong></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <button (click)="select(r.key, r.code, r)" class="btn --action-btn --bg-darker-grey"><i class="ri-pencil-line"></i></button>
                                    </div>
                                </div>
                                <span class="badge --bg-danger" *ngIf="r.status == '0' ">Cancelado</span>
                                <span class="badge --bg-warning" *ngIf="r.status == '1' ">Pendiente</span>
                                <span class="badge --bg-success" *ngIf="r.status == '2' ">Completado</span>
                            </div>
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Vehiculo:</label>
                                        <h4>{{r.car}}</h4>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Conductor:</label>
                                        <p class="--cap">{{r.driver}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Modal Editar Reservacion-->
<div class="modal fade" id="modalForEditing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Reservacion</h5>
          <button (click)="toggleEditModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- if I'm editing a reservation, show this-->
          <div class="row" *ngIf="!reservationUpdated">
              <div class="form-group mb-3">
                  <label for="">Costo USD$</label>
                  <input type="number" class="form-control" [(ngModel)]="selectedReserv.cost">
              </div>
              <div class="form-group mb-3">
                  <label for="">Pago</label>
                  <select name="" id="" class="form-control" [(ngModel)]="selectedReserv.paymentstatus">
                      <option value="0">Pendiente</option>
                      <option value="5">50%</option>
                      <option value="10">Pago</option>
                  </select>
              </div>
              <div class="form-group mb-3">
                  <label for="">Conductor</label>
                  <select name="" id="" class="form-control" [(ngModel)]="selectedReserv.driver">
                      <option value="">N/A</option>
                      <option value="alan d. garcia">Alan D. Garcia</option>
                      <option value="bryan campos">Bryan Campos</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="">Estado</label>
                <select name="" id="" class="form-control" [(ngModel)]="selectedReserv.status">
                    <option value="1" selected>Pendiente</option>
                    <option value="2">Completado</option>
                    <option value="0" class="text-danger">Cancelar</option>
                </select>
            </div>
          </div>
          <div class="row" *ngIf="reservationUpdated">
              <h4 class="--primary">Reservacion Actualizada!</h4>
          </div>
        </div>
        <div class="modal-footer" *ngIf="!reservationUpdated">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="toggleEditModal()">Descartar Cambios</button>
          <button type="button" class="btn --bg-primary" (click)="update(selectedReserv.key)">Actualizar</button>
        </div>
        <div class="modal-footer" *ngIf="reservationUpdated">
            <button type="button" class="btn btn-secondary" (click)="toggleEditModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>