hr {
    margin: 0.5rem 0rem !important;
}
#reservationList {
    li.active {
        outline: 3px solid #19da9a;
    };
    li:hover {
        cursor: pointer;
        background-color: #e9e9e9 !important;
    }
}
#reservacionesTabs {
    display: flex;
    li {
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-bottom: 4px solid #fff;
        &.active {
            border-bottom: 4px solid #8052f9 !important;
            font-weight: 600;
        }
        &:hover {
            border-bottom: 4px solid #eaeaea;
            background-color: #f8f8fa;
        }
    }
}