<footer class="container-fluid mt-5">
         <div class="container">
                  <div class="row pt-5 pb-5">
                           <div class="col-lg-3">
                               <img class="mb-3" src="../../../assets/logo/logo-white.webp" alt="" id="logo">
                               <br>
                               <small class="text-muted">Riide Travel Services Garle SRL (2021), DR</small>
                               <br>
                               <small class="text-muted">Calle Ejemplo #6, Km 12 Aut. Las Americas</small>
                               <small class="text-muted">Santo Domingo Este, R.D.</small>
                           </div>
                           <div class="col-lg-3">
                               <h5>Company</h5>
                               <ul>
                                   <li><a href="" class="nav-link">About Us</a></li>
                                   <li><a href="" class="nav-link">Contact</a></li>
                                   <li><a href="" class="nav-link">Terms and Conditions</a></li>
                                   <li><a href="" class="nav-link">Privacy Policy</a></li>
                               </ul>
                           </div>
                           <div class="col-lg-3"></div>
                           <div class="col-lg-3">
                               <h5>Social Media</h5>
                               <ul id="social-icons">
                                   <li><a (click)="goTo('https://www.instagram.com/riidetravel_rd/')" class="nav-link"><i class="ri-instagram-line"></i></a></li>
                               </ul>
                           </div>
                  </div>
         </div>
</footer>