
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" (click)="reload()">
          <img src="../../../assets/logo/logo-regular.webp" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="bookingForm()">{{currentlang.nav1}}</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">My Rides</a>
          </li> -->
          <li class="nav-item">
            <!-- <a class="nav-link" href="#" (click)="about()">{{currentlang.nav2}}</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{currentlang.nav3}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-global-line --mr"></i>
              <span id="langtext">{{currentlang.name}}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" (click)="translate()">English</a></li>
              <li><a class="dropdown-item" href="#" (click)="translate()">Español</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<!-- LANDING CONTENT -->
<div class="animate__animated animate__fadeIn" *ngIf="!isbooking && !isabout">
    <!-- header -->
    <div id="main" class="container-fluid " >
        <header class="">
            <div class="container">
                <div class="pt-5 pb-5 d-center">
                    <h1 class="text-center --shadow --cap"><strong>{{currentlang.headertitle}}</strong></h1>
                    <h4 class="--shadow --cap">{{currentlang.headersubtitle}}</h4>
                    <button class="btn btn-lg --bg-primary mt-3" (click)="bookingForm()">{{currentlang.headerbuttontext}}</button>
                </div>
            </div>
        </header>
    </div>
    <!-- feature section -->
    <div class="container-fluid --bg-grey" >
        <div class="container">
            <section id="features" class="">
                <div class="container p-5">
                    <div class="row d-flex justify-content-center">
                        <h3 class="text-center mb-5">{{currentlang.ourservices}}</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="d-flex flex-column align-items-center text-center">
                                <h1><i class="ri-flight-land-line --primary"></i></h1>
                                <h4>{{currentlang.featureOnetitle}}</h4>
                                <p>{{currentlang.featureOnetext}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex flex-column align-items-center text-center">
                                <h1><i class="ri-flight-takeoff-line --primary"></i></h1>
                                <h4>{{currentlang.featureTwotitle}}</h4>
                                <p>{{currentlang.featureTwotext}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex flex-column align-items-center text-center">
                                <h1><i class="ri-map-2-fill --primary"></i></h1>
                                <h4>{{currentlang.featureThreetitle}}</h4>
                                <p>{{currentlang.featureThreetext}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- features explained -->
    <div class="container-fluid" >
        <div id="featureexplained" class="container pt-5 pb-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="p-3 d-flex flex-column justify-content-center h-100">
                        <p class="--text-muted"><strong>{{currentlang.featureOnetag}}</strong></p>
                        <h2><strong>{{currentlang.featureOnetitle}}</strong></h2>
                        <p>{{currentlang.featureOnepara}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-3 d-center">
                        <div class="img-wrap overflow-hidden rounded">
                            <img src="../../../assets/features/door-to-door-riide-transportation.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="p-3 d-flex flex-column justify-content-center h-100">
                        <p class="--text-muted"><strong>{{currentlang.featureTwotag}}</strong></p>
                        <h2><strong>{{currentlang.featureTwotitle}}</strong></h2>
                        <p>{{currentlang.featureTwopara}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-3 d-center">
                        <div class="img-wrap overflow-hidden rounded">
                            <img src="../../../assets/features/airport-pickup-riide-transportation.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="p-3 d-flex flex-column justify-content-center h-100">
                        <p class="--text-muted"><strong>{{currentlang.featureThreetag}}</strong></p>
                        <h2><strong>{{currentlang.featureThreetitle}}</strong></h2>
                        <p>{{currentlang.featureThreepara}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-3 d-center">
                        <div class="img-wrap overflow-hidden rounded">
                            <img src="../../../assets/features/travel-destinations-riide-transportation.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta -->
    <div class="container-fluid --bg-primary" >
        <div class="container pt-5 pb-5 text-center">
            <h1><strong>{{currentlang.gpstitle}}</strong>
            </h1>
            <h3>{{currentlang.gpssub}}</h3>
        </div>
    </div>
    <!-- fleet -->
    <div class="container-fluid --bg--grey" >
        <div class="container pt-5 pb-5">
            <div class="">
                <h1><strong>{{currentlang.fleettitle}}</strong></h1>
                <h3>{{currentlang.fleetsub}}</h3>
            </div>
            <div class="grid mt-5">
                <div class="grid-item --bg-grey border" *ngFor="let i of cars">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4 class="mb-0 --upper"><strong>{{i.make}}</strong></h4>
                                <small class="--cap">{{i.model}}</small>
                            </div>
                            <div class="col-lg-5">
                                <small>{{currentlang.from}}</small>
                                <h4 class="--primary mb-0">${{i.price}}</h4>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <h5 class="mb-0 d-flex align-items-center mb-2"><i class="ri-user-3-fill --primary --mr"></i> {{i.seats}}</h5>
                                <h5 class="mb-0 d-flex align-items-center"><i class="ri-luggage-cart-line --primary --mr"></i> <span>{{i.luggagelarge}} {{currentlang.large}}</span><span>, {{i.luggagesmall}} {{currentlang.small}}</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="car--img">
                        <img [src]="'../../../assets/cars/' + i.img + '.webp' " alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- rates-->
    <!-- <div class="container-fluid">
        <div class="container pt-5 pb-5">
            <div class="">
                <h1><strong>{{currentlang.ratesTitle}}</strong></h1>
                <h3>{{currentlang.ratesSub}}</h3>
            </div>
            <section id="rates" class="mt-5">
                <div class="row --bg-grey border rounded mb-3 p-3" *ngFor="let r of Rates">
                    <div class="col-lg-4 col-sm-4 ">
                        <label for="" class="--upper">{{currentlang.from}}</label>
                        <p>{{r.from}}</p>
                    </div>
                    <div class="col-lg-4 col-sm-4 ">
                        <label for="" class="--upper">{{currentlang.to}}</label>
                        <p>{{r.to}}</p>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-3 col-6 mt-on-mobile">
                        <label class="hide-on-mobile --upper">{{currentlang.estcost}}</label>
                        <p class="price --primary">US${{r.basecost}}</p>
                    </div>
                </div>
                
            </section>
        </div>
    </div> -->
</div>

<!-- book a ride -->
<div class="container-fluid --bg--grey animate__animated animate__fadeIn" *ngIf="isbooking && !isabout">
    <div class="container pt-5 pb-5">
        <div class="">
            <h5 class="text-muted mb-0">{{currentlang.bookingtag}}</h5>
            <h1><strong>{{currentlang.bookingtitle}}</strong></h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="stepZero" class="row mb-3">
                    <h3 class="mb-5 mt-5">{{currentlang.bookingmenuheader}}</h3>
                    <div class="col-lg-6 mb-3">
                        <div class="service-card" id="airportcard" (click)="chooseAirport()">
                            <h1><i class="ri-flight-land-line --primary"></i></h1>
                            <h5>{{currentlang.airportservice}}</h5>
                            <label for="" class="--text-muted">{{currentlang.airportdescription}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="service-card" id="privatecard" (click)="choosePrivate()">
                            <h1><i class="ri-roadster-fill --primary"></i></h1>
                            <h5>{{currentlang.privateservice}}</h5>
                            <label for="" class="--text-muted">{{currentlang.privatedescription}}</label>
                        </div>
                    </div>
                    
                    <div class="col-lg-12" *ngIf="airportservice || privateservice">
                        <div class="d-flex justify-content-end mt-3 animate__animated animate__fadeIn quick">
                            <button (click)="showStepOne()" class="btn btn-lg --bg-primary d-flex align-items-center">{{currentlang.datetimebtn}} <i class="ri-arrow-right-s-line"></i></button>
                        </div>
                    </div>
                </div>
                <div id="stepOne" class="d-none">
                    <h3 class="mb-5 mt-5">{{currentlang.whentravel}}</h3>
                    <div class="col-lg-6">
                        <label for="">{{currentlang.datelabel}}</label>
                        <input [(ngModel)]="currentBooking.date" type="date" class="form-control">
                        <label *ngIf="dateerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label for="">{{currentlang.pickuptimelabel}}</label>
                        <input [(ngModel)]="currentBooking.time" type="time" class="form-control">
                        <label *ngIf="timeerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-12" *ngIf="airportservice">
                        <label for="">{{currentlang.flight}}</label>
                        <!-- agregar numero de vuelo al objeto y modelo -->
                        <input  [(ngModel)]="currentBooking.flightnumber" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12">
                        <label for="">{{currentlang.pickuplocation}}</label>
                        <input [(ngModel)]="currentBooking.from" type="text" class="form-control">
                        <label *ngIf="fromerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-12">
                        <label for="">{{currentlang.destinationlabel}}</label>
                        <input [(ngModel)]="currentBooking.destination" type="text" class="form-control">
                        <label *ngIf="destinationerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-12">
                        <a class="mt-3 mb-3" (click)="addSecondDestination()" *ngIf="!secondDestination && !isareturntrip">+ {{currentlang.addDestination}}</a>
                    </div>
                    <div class="col-lg-12 d-flex align-items-center mt-3">
                        <input type="checkbox" class="form-check-input --mr" (click)="returnTrip()">
                        <label class="form-check-label" for="">{{currentlang.returncheck}}</label>
                    </div>
                    <div class="col-lg-12 animate__animated animate__fadeInDown quick" *ngIf="secondDestination">
                        <label for="">{{currentlang.destinationlabel}} (2)</label>
                        <input [(ngModel)]="currentBooking.destinationTwo" type="text" class="form-control">
                    </div>
                    <div class="col-lg-6 animate__animated animate__fadeInDown quick" *ngIf="secondDestination">
                        <label for="">{{currentlang.datelabel}} (2)</label>
                        <input [(ngModel)]="currentBooking.dateTwo"  type="date" class="form-control">
                    </div>
                    <div class="col-lg-6 animate__animated animate__fadeInDown quick" *ngIf="secondDestination">
                        <label for="">{{currentlang.pickuptimelabel}} (2)</label>
                        <input [(ngModel)]="currentBooking.timeTwo" type="time" class="form-control">
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between mt-3">
                            <button (click)="showStepZero()" class="btn btn-lg --bg-grey d-flex align-items-center"><i class="ri-arrow-left-s-line"></i> {{currentlang.servicetype}}</button>
                            <button (click)="showStepTwo()" class="btn btn-lg --bg-primary d-flex align-items-center">{{currentlang.passengersbtn}} <i class="ri-arrow-right-s-line"></i></button>
                        </div>
                    </div>
                </div>
                <div id="stepTwo" class="row mb-3 d-none">
                    <h3 class="mb-5 mt-5">{{currentlang.howmany}}</h3>
                    <div class="col-lg-12">
                        <label for="">{{currentlang.passengersbtn}}</label>
                        <input [(ngModel)]="currentBooking.passengers" type="text" class="form-control">
                        <label *ngIf="passengerserror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label for="">{{currentlang.lgluggage}} (XL)</label>
                        <input [(ngModel)]="currentBooking.lgluggage" type="number" class="form-control">
                        <label *ngIf="lgluggageerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label for="">{{currentlang.smluggage}} (SM)</label>
                        <input [(ngModel)]="currentBooking.smluggage" type="number" class="form-control">
                        <label *ngIf="smluggageerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-12 d-flex align-items-center mt-3">
                        <input type="checkbox" class="form-check-input --mr" (click)="specificCar()">
                        <label class="form-check-label" for="">{{currentlang.specificcar}}</label>
                    </div>
                    <div class="col-lg-12 mt-3 car-cards pb-3" *ngIf="wantsSpecificCar">
                        <div class="car-mini-card border rounded --mr" *ngFor="let c of cars" (click)="preferedCar(c.model)">
                            <h5 class="mb-0"><strong class="--cap">{{c.make}}</strong></h5>
                            <label for="" class="--cap">{{c.model}}</label>
                            <p class="mb-0"><i class="ri-user-3-fill --primary"></i> <span class="--mr">{{c.seats}} </span></p>
                            <p><i class="ri-luggage-deposit-fill --primary"></i> <span>{{c.luggagelarge}} XL & </span> <span>{{c.luggagesmall}} SM</span></p>
                            <img [src]=" '../../../assets/cars/' + c.img + '.webp' " alt="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between mt-3">
                            <button (click)="showStepOne()" class="btn btn-lg --bg-grey d-flex align-items-center"><i class="ri-arrow-left-s-line"></i> {{currentlang.datebtn}}</button>
                            <button (click)="showStepThree()" class="btn btn-lg --bg-primary d-flex align-items-center">{{currentlang.contactbtn}} <i class="ri-arrow-right-s-line"></i></button>
                        </div>
                    </div>
                </div>
                <div id="stepThree" class="row mb-3 d-none">
                    <h3 class="mb-5 mt-5">{{currentlang.contactbtn}}</h3>
                    <div class="col-lg-12">
                        <label for="">{{currentlang.fullname}}</label>
                        <input [(ngModel)]="currentBooking.fullname" type="text" class="form-control">
                        <label *ngIf="fullnameerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label for="">{{currentlang.phone}}</label>
                        <input [(ngModel)]="currentBooking.phone" type="number" class="form-control">
                        <label *ngIf="phoneerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label for="">{{currentlang.email}}</label>
                        <input [(ngModel)]="currentBooking.email" type="email" class="form-control">
                        <label *ngIf="emailerror" class="text-danger">{{currentlang.fielderror}}</label>
                    </div>
                    <div class="col-lg-12">
                        <input (click)="addDetails()"  type="checkbox" class="form-check-input --mr">
                        <label class="form-check-label" for="">{{currentlang.addmoredetails}} </label>
                    </div>
                    <div class="col-lg-12" *ngIf="adddetails">
                        <label for="" class="mt-3">{{currentlang.moredetails}}</label>
                        <textarea [(ngModel)]="currentBooking.details" rows="4" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between mt-3">
                            <button (click)="showStepTwo()" class="btn btn-lg --bg-grey d-flex align-items-center"><i class="ri-arrow-left-s-line"></i> {{currentlang.passengersbtn}}</button>
                            <button (click)="review()" class="btn btn-lg --bg-primary d-flex align-items-center">{{currentlang.reviewbtn}} <i class="ri-arrow-right-s-line"></i></button>
                        </div>
                    </div>
                </div>
                <div id="review" class="row mb-3 d-none">
                    <h3 class="mb-5 mt-5">{{currentlang.reviewtitle}}</h3>
                    <div class="--bg-grey p-3 rounded border">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="">{{currentlang.customer}}</label>
                                <h5><i class="ri-user-3-fill --primary --mr"></i>{{currentBooking.fullname}}</h5>
                                <h5><i class="ri-phone-fill --primary --mr"></i>{{currentBooking.phone}}</h5>
                                <h5><i class="ri-mail-line --primary --mr"></i>{{currentBooking.email}}</h5>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <label for="">{{currentlang.servicetype}}</label>
                                    <p *ngIf="currentBooking.type == '0' ">{{currentlang.airportservice}}</p>
                                    <p *ngIf="currentBooking.type == '1' ">{{currentlang.privateservice}}</p>
                                </div>
                                <div class="row" *ngIf="airportservice">
                                    <label for="">{{currentlang.flight}}</label>
                                    <p>{{currentBooking.flightnumber}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="">{{currentlang.pickuplocation}}</label>
                                <p><i class="ri-map-pin-line --primary --mr"></i>{{currentBooking.from}}</p>
                            </div>
                            <div class="col-lg-6">
                                <label for="">{{currentlang.datelabel}}</label>
                                <p class="mb-0"><i class="ri-calendar-check-fill --primary --mr"></i>{{currentBooking.date}}</p>
                                <p class="mb-0"><i class="ri-time-line --primary --mr"></i>{{currentBooking.time}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="">{{currentlang.destination}}</label>
                                <p><i class="ri-map-pin-line --primary --mr"></i>{{currentBooking.destination}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="">{{currentlang.destination}} (2)</label>
                                <p><i class="ri-map-pin-line --primary --mr"></i>{{currentBooking.destinationTwo}}</p>
                            </div>
                            <div class="col-lg-6">
                                <label for="">{{currentlang.datelabel}} (2)</label>
                                <p class="mb-0"><i class="ri-calendar-check-fill --primary --mr"></i>{{currentBooking.dateTwo}}</p>
                                <p class="mb-0"><i class="ri-time-line --primary --mr"></i>{{currentBooking.timeTwo}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="">{{currentlang.passengersbtn}}</label>
                                <p class="mb-0"><i class="ri-user-3-fill --primary --mr"></i>{{currentBooking.passengers}}</p>
                            </div>
                            <div class="col-lg-6">
                                <label for="">{{currentlang.luggage}}</label>
                                <p class="mb-0"><i class="ri-luggage-cart-line --primary --mr"></i>{{currentBooking.lgluggage}} )XL)</p>
                                <p class="mb-0"><i class="ri-handbag-line --primary --mr"></i>{{currentBooking.smluggage}} (SM)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between mt-3">
                            <button (click)="showStepThree()" class="btn btn-lg --bg-grey d-flex align-items-center"><i class="ri-arrow-left-s-line"></i> {{currentlang.contactbtn}}</button>
                            <button (click)="book()" class="btn btn-lg --bg-primary d-flex align-items-center">{{currentlang.submitbtn}} <i class="ri-arrow-right-s-line"></i></button>
                        </div>
                    </div>
                </div>
                <div id="congratulations" class="row mb-3 mt-5 d-none">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="icon-wrap">
                                <i class="ri-calendar-check-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <h5>{{currentlang.submitted}}</h5>
                            <p>{{currentlang.submittedmsj}}
                            </p>
                            <p class="mt-3">{{currentlang.leavemsj}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- about us -->
<div id="aboutus" class="container-fluid --bg-grey --flex animate__animated animate__fadeIn" *ngIf="!isbooking && isabout">
    <div class="container">
        <div class="row animate__animated animate__fadeInUp">
            <div class="col-lg-6">
                <div class="d-flex flex-column justify-content-center pt-5">
                    <h4 class="text-muted">ABOUT RIIDE</h4>
                    <h1><strong>Your most reliable travel partner</strong></h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae soluta animi vel placeat nulla.</p>
                </div>

                <div class="d-flex flex-column justify-content-center pt-5">
                    <h3><strong>We wait for you, at no extra cost</strong></h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Repudiandae soluta animi vel placeat nulla. Lorem ipsum dolor 
                        sit amet consectetur adipisicing elit. Labore obcaecati quaerat 
                        deleniti soluta eaque debitis. Dolorum sit ab quos dicta?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid mt-5">
    <div class="container">
             <div class="row pt-5 pb-5">
                      <div class="col-lg-3">
                          <img class="mb-3" src="../../../assets/logo/logo-white.webp" alt="" id="logo">
                          <br>
                          <small class="text-muted">Riide Travel Services Garle SRL (2021), DR</small>
                      </div>
                      <div class="col-lg-3">
                          <h5>{{currentlang.company}}</h5>
                          <ul>
                              <!-- <li><a (click)="about()" class="nav-link">{{currentlang.nav2}}</a></li> -->
                              <li><a  class="nav-link">{{currentlang.nav3}}</a></li>
                              <li><a  class="nav-link">Terms and Conditions</a></li>
                              <li><a  class="nav-link">Privacy Policy</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3"></div>
                      <div class="col-lg-3">
                          <h5>{{currentlang.socialtitle}}</h5>
                          <ul id="social-icons" class="d-flex">
                              <li class="--mr"><a (click)="goTo('https://www.instagram.com/riidetravel_rd/')" class="nav-link"><i class="ri-instagram-line"></i></a></li>
                              <li class="--mr"><a (click)="goTo('https://www.facebook.com/Riide.Travel')" class="nav-link"><i class="ri-facebook-line"></i></a></li>
                              <li class="--mr"><a (click)="goTo('https://wa.me/18097682748')" class="nav-link"><i class="ri-whatsapp-line"></i></a></li>
                          </ul>
                      </div>
             </div>
    </div>
</footer>