//typography imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* You can add global styles to this file, and also import other style files */
//GLOBAL VARIABLES
$white: #fff;
$grey: #f8f8fa;
$dark-grey: #ececec;
$font: Inter;
body, html {
    height: 100%;
    font-family: $font !important;
    font-size: 16px !important;
    line-height: 1.75 !important;
}
h1 {
    font-size: 3.052rem !important;
}
h2 {
    font-size: 2.5rem !important;
}
h3 {
    font-size: 1.95rem !important;
}
h4 {
    font-size: 1.6rem !important;
}
h5 {
    font-size: 1.25rem !important;
}
p, input, select, textarea {
    font-size: 1rem !important;
}
label {
    font-size: 0.8rem !important;
}
strong {
    font-weight: 700 !important;
}
app-home, app-admin, app-reservations {
    display: flex;
    flex-flow: column;
    height: 100%;
    .--flex {
        flex: 1;
    }
}
ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
.--bg--white {
    background-color: $white;
}
.--bg-grey {
    background-color: $grey;
}
.--bg-dark-grey {
    background-color: $dark-grey;
}
.--bg-darker-grey {
    background-color: #e5e5e5 !important;
}
.--bg-success {
    background-color: #8fefb8;
}
.--bg-warning {
    background-color: #efe38f;
}
.--bg-danger {
    background-color: #f6a7a7;
}
.--bg-primary {
    background-color: #7f51f9 !important;
    color: white !important;
}
.--primary {
    color: #7f51f9 !important;
}
.--shadow {
    text-shadow: 0px 2px 27px black;
}
.--action-btn {
    i {
        font-size: 20px !important;
    }
}
.badge {
    &.--bg-success {
        color: #0e522b;
    }
    &.--bg-warning {
        color: #635a1b;
    }
    &.--bg-danger {
        color: #6b0f0f;
    }
    padding: 0.5rem 0.8rem;
}
a {
    text-decoration: none !important;
    cursor: pointer !important;
}
.d-center  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.--mr {
    margin-right: 0.5rem !important;
}
.--cap {
    text-transform: capitalize !important;
}
.--upper {
    text-transform: uppercase !important;
}
.nav-item a {
    font-weight: 500 !important;
}
.--text-muted-primary {
    color:#bfaeeb !important;
}
.--text-muted {
    color: gray !important;
}
//animation speed
.quick {
    animation-duration: 0.2s !important;
}
button.--bg-darker-grey {
    &:hover {
        background-color: black !important;
        color: white !important;
    }
}